/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	background-color: #fccc97; 
		
}

body {
	font-family: Sul Sans,sans-serif;
}
/*form styles*/
#msform {
	width: 1000px;
	margin: 40px auto;
	text-align: center;
	position: relative;
	
}



#area {
  background-color: white;
  width: 100;
  height: 30px;
  padding: 20px;
  margin: 0.5px;
  font-size: 14px;
  text-align: center;
}

#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 20px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 50px 30px;
	box-sizing: border-box;
	width: 75%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 15px;

}

#txtdigito {
	float: left;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 50% !important;
	margin-left: 10px;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 15px;
}
#txtconta {
	float: left;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 50% !important;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 15px;

}
/*buttons*/
#msform .action-button {
	width: 300px;
	background: #E25822;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 22px;
	cursor: pointer;
	padding: 20px 5px;
	margin: 20px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #ff0000;
}
/*headings*/
.fs-title {
	font-size: 25px;
	text-transform: uppercase;
	color: #ff5000;
	margin-bottom: 5px;
	font-weight: 600;
	letter-spacing: 0.0em;
	
}
.fs-subtitle {
	font-weight: 500;
	font-size: 16px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 12px;
	width: 14.2%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 23px;
	line-height: 23px;
	display: block;
	font-size: 12px;
	color: #666;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #fff;
	position: absolute;
	left: -50%;
	top: 12px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #ff5000;
	color: #fff;
}
* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.b {
  display: block;
}

.toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 25px;
  border-radius: 100px;
  background-color: #ddd;
  margin: -20px -40px;
  overflow: hidden;
  float: left;
  box-shadow: inset 0 0 2px 1px rgba(0,0,0,.05);
}

.check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}

/* Checkbox*/

*
{
    -webkit-tap-highlight-color: transparent;
    outline: all;
    color: #666;

}

html, body
{
    height: 100%;
}

body
{
    margin: 0;
}

._checkbox
{
    display: none;
}

label
{
    position: absolute;
    top: 25%;
    right: 0;
    left: 27;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-color: #ff5000;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: 0 7px 10px gren;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
}

label:before
{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 70px;
    height: 70px;
    margin: 15px auto;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0 0px 0px #ffbeb8;
    transition: 0.2s ease width, 0.2s ease height;
}

label:hover:before
{
    width: 55px;
    height: 55px;
    box-shadow: inset 0 7px 10px #ff9d96;
}

label:active
{
    transform: translateY(-50%) scale(0.9);
}

#tick_mark
{
    position: absolute;
    top: -29px;
    right: 0;
    left: -19px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-left: 14px;
    transform: rotateZ(-40deg);
}

#tick_mark:before, #tick_mark:after
{
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
}

#tick_mark:before
{
    left: 0;
    bottom: 4px;
    width: 5px;
    height: 12px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.0);
    transform: translateY(-68px)
}

#tick_mark:after
{
    left: 0;
    bottom: 2px;
    width: 70%;
    height: 05px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.23);
    transform: translateX(78px)
}

._checkbox:checked + label
{
    background-color: ##E25822;
    box-shadow: 0 0px 10px ;
}

._checkbox:checked + label:before
{
    width: 0;
    height: 0;
}

._checkbox:checked + label #tick_mark:before, ._checkbox:checked + label #tick_mark:after
{
    transform: translate(0);
    opacity: 1;
}

